.overall-cart {
  margin-top: 30px;
}

.cart-sec {
  background-color: #bf0d3c;
  border-radius: 5px;
  width: 650px;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: nowrap;
  font-family: 'Caviar Dreams';
}

.cart-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10px;
  font-family: 'Caviar Dreams';
}

.cart-container {
  margin-right: 50px;
}

.cart-flex h4 {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Caviar Dreams';
}

.category {
  letter-spacing: 0.1em;
  text-decoration: underline;
  font-size: 16px;
  color: #cccccc;
  font-weight: lighter;
  line-height: 19px;
}

.cart-img img {
  /* border-radius: 50%; */
  width: 90px;
  height: 90px;
  margin-right: 20px;
  border-radius: 50%;
}

.cart-cal {
  display: flex;
  justify-content: space-evenly;
  margin-right: 60px;
  margin-top: 20px;
}

.remove1 {
  margin-left: 50px;
  color: #cccccc;
  cursor: pointer;
}

.remove2 {
  text-decoration: underline;
  margin-left: 5px;
  color: #cccccc;
  font-family: 'Caviar Dreams';
}

.total-cart h4 {
  color: #ffffff;
  font-family: 'Caviar Dreams';
}

.total-cart p {
  color: #ffffff;
  font-family: 'Caviar Dreams';
}

.model-content h2 {
  color: #ffffff;
  /* margin-right: 100px; */
  text-align: right;
}

.model-content p {
  text-align: right;
  font-weight: bold;
}

.model-content .checkout {
  text-align: center;
  margin-left: 20rem;
  margin-top: 25px;
  padding: 12px;
  border: none;
  outline: none;
  font-weight: bold;
  color: #f24472;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 19px;
  letter-spacing: 0.05em;
  line-height: 30px;
  font-family: "Cormorant Garamond", serif;
}

.cart-cal .one {
  font-size: 16px;
  color: #ffffff;
}

.cart-cal .minus {
  cursor: pointer;
  margin-right: 1em;
  padding: 0 5px;
  background-color: #f24472;
  border-radius: 50%;
  text-align: center;
  width: 22px;
  height: 22px;
}

.cart-cal .plus {
  cursor: pointer;
  margin-left: 1em;
  padding: 0 5px;
  background-color: #f24472;
  border-radius: 50%;
  text-align: center;
  width: 22px;
  height: 22px;
}

/* Media Query */

@media(max-width: 500px){
  .overall-cart{
    margin-left: 20px;
  }
  .cart-sec {
    box-sizing: border-box;
    background-color: #bf0d3c;
    border-radius: 10px;
    width: 395px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 210px; */
    margin: auto;
    flex-flow: nowrap;
    overflow-x: hidden;
  }
  
  .cart-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-container {
    margin-right: 10px;
  }
  
  .cart-flex h4 {
    font-size: 14px;
    line-height: 20px;
    /* margin-right: 10px; */
    font-family: 'Caviar Dreams';
  }
  
  .cart-img img {
    /* border-radius: 50%; */
    width: 90px;
    height: 90px;
    margin-left: 20px;
    border: 50%;
  }
  
  .cart-cal {
    display: flex;
    justify-content: center;
    font-family: 'Caviar Dreams';
  }
  
  .remove1 svg{
    margin-left: -50px;
    color: #cccccc;
    cursor: pointer;
  }
  
  .remove2 {
   display: none;
  }
  
  .total-cart h4 {
    line-height: 35px;
    color: #cccccc;
    text-align: left;
    font-family: 'Caviar Dreams';
    
  }
  
  .total-cart p {

    color: #cccccc;
    margin-top: 10px;
    margin-right: 15px;
    font-family: 'Caviar Dreams';
  }

  .model-content .checkout {
    text-align: center;
    margin-right: 25rem;
    margin-top: 25px;
    padding: 12px;
    width: 25%;
    
  }  

  .model-content h2 {
    color: #ffffff;
    /* margin-right: 100px; */
    text-align: center;
    font-family: 'Caviar Dreams';
  }

  .model-content p {
    text-align: center;
    font-weight: bold;
    font-family: 'Caviar Dreams';
  }
  
  
} 
