.custom-heading{
    margin-top: 50px;
    text-align: center;
}

.custom-heading h1{
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: lighter;
    line-height: 48px;
    color: #F24472;
}

.custom-heading img{
    margin-top: 15px;
}


.custom-container{
    display: flex;
    margin-top: 35px;
    text-align: center;
    
    
}

.custom-img p{
    text-align: center;
    margin-top: 80px;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Playfair Display';
    line-height: 60px;
}

.custom-img button{
    text-align: center;
    padding: 13px;
    border: none;
    outline: none;
    color: white;
    background-color: #ef476f;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 19px;
    font-family: 'Roboto Slab', serif;
    transition: 0.5s;
}

.custom-img button:hover {
    background-color: #ef476f;
    width: 30%;
}
.custom-container div{
    flex:1;
}

.custom-img{
    background: linear-gradient(to left bottom, #000000 ,rgba(0, 0, 0, 0) ), url("https://i.ibb.co/m6bLmgF/desert2.jpg")no-repeat center/cover;
    height: 500px; 
    /* margin: 0; */

    
}

.custom-images-cake{
    background-color: #F24472;
    height: 500px;
    text-align: center;
    
}
.custom-images-cake .vector{
    text-align: center;
    margin-top: 20px;
}
.flex1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 8em;
    margin-top: 10px;
}
.flex1 .two{
    margin-right: 140px;
}

.flex1 img{
    width: 200px;
}

.flex2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 8em;
    margin-top: 10px;
}

.flex2 img{
    width: 200px;
}

.flex2 .four{
    margin-right: 140px;
}

