.bg-special{
    background-color: #ffffff;
}

.special-heading{
    margin-top: 50px;
    text-align: center;
}

.special-heading img{
    margin-top: 15px;
}
.special-heading h1{
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: lighter;
    line-height: 48px;
    color: #F24472;
}

.special-flex{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    
}

.special-flex img{
    cursor: pointer;
}
.special-flex .s-text h3{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    color: #F24472;
    font-size: 20px;
    line-break: 30px;
}

.special-flex .s-text p{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    font-family:  serif;
}


.special-svg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-svg .move{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    margin:10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.special-svg .move:hover{
    background: #000000;
}

.special-svg .move:hover svg path{
    transition: all 0.5s ease-out;
}

.special-svg .move:hover svg path{
    fill: #ffffff !important;
}

.special-svg .dot{
    width: 5px;
    height: 5px;
    border: 0.5px solid #000000;
    border-radius: 50%;
    margin:2px;
    cursor: pointer;
}



@media(max-width: 500px){
    .special-flex{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .special-svg .move{
        display: none;
    }

    .special-svg .dot{
        display: none;
    }

    .special-heading h1{
        margin-top: 25px;
        line-height: 30px;
    }
    
    .special-heading img{
        margin-top: 5px;
    }

    .special-flex img{
        cursor: pointer;
    }

}