.bg-footer{
    margin-top: 80px;
    padding-top: 3vmax;
    background-color: #000000;
    width: 100%;
    color: #ffffff;
}

.f-heading{
    text-align: center;
}

.f-heading img{
    margin-top: 30px;
}
.footerOne{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vmax 0;
}
h2, h3, a{
    color: #fff;
}
.infoBox{
    width: 50%;
    margin-right: 2.6vmax;
}
.infoBox h2, .infoBox h3{
    text-align: right;
}
.mapBox{
    width: 100%;
    margin-left: 2.6vmax;
}
.mapBox iframe{
    height: 20.85vmax;
    width: 55vmax;
}
.footerTwo{
    background-color: #3a3a3a;
    height: 9.5rem;
}

/* media query */
@media(max-width: 1024px){
    .mapBox{
        display: none;
    }
}