@import "~antd/dist/antd.css";

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-flow: row nowrap;
    padding:10px 20px;
    background:#FFFFFF;
    box-shadow: 0px 1px 10px 2px rgb(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    font-family: 'caviardreams';
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-flow: row nowrap;
    z-index: 2;
} 

nav ul:first-child li{
    position: absolute;
    background: #FFFFFF;
    top:-20px;
    width: 100px;
    height: 100px;
    box-shadow: -12px 10px 10px 2px rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px;
    font-family: 'caviardreams';
}

nav ul:first-child li img{
    width: 30px;
}

 nav a{
    display: block;
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-family: 'caviardreams';
    letter-spacing: 0.05em;
    font-weight: bold;
    line-height: 20px;
}

nav a:hover{
    color: #ef476f;
}

.menu{
    position: relative;
}

.sub-menu{
    display: none;
    position: absolute;
    background: #ffffff;
    box-shadow: -12px 10px 10px 2px rgb(0, 0, 0, 0.4);
    color: #000;
    animation: slideUp 0.2s linear;
    font-family: 'caviardreams';
}

.sub-menu li{
    color: #ef476f;
}
.close-bg{
    text-align: center;
    width: 48px;
    height: 48px;
    background-color: #F57093;
    border-radius: 50%;
}
.close-modal-btn{
    cursor: pointer;
    
}


@keyframes slideUp{
    from{
        opacity: 0.5;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.menu:hover .sub-menu{
    display: block;
}

 nav ul li ul li{
    display: flex;
    flex-direction: column;
    width: 150px; 
}

.ant-drawer-content-wrapper,
    .ant-drawer-content-body
    {
        width: 700px !important;

    }

@media(max-width: 500px) {
    nav{
        position: sticky;
        
    }

    .ant-drawer-content-wrapper,
    .ant-drawer-content-body
    {
        width: 390px !important;
        overflow-x: hidden;
    }

    
      
      
      

}

